html{
  font-size:10px;
}
//body{
//  font-size:12px;
//  font-size:1.2rem;
//}
.container{
  width:100%;
  background-color:#fff;
  //height:100%;
}
.thread-section{
  padding:.5rem;
}
.thread-content{
  padding:.5rem;
}
.thread-list-item{
  padding:.5rem 0;
  //height:13.2rem;
  border-bottom:1px solid #e1e1e1
}
.thread-icon{
  width:4.8rem;
  height:4.8rem;
  float:left;
  border:1px solid red;
}
.thread-detail{
  margin-left:5rem;
  font-size:1.5rem;
  overflow: hidden;
  padding: .5rem ;
  padding-right:0;
}
.thread-time{
  float:right;
}
.thread-name{
  float:left;
}
.thread-last-message{
  //width:100%;
  margin-top:2.5rem;
  clear:both;
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.message-section{
  display:none;
}