html{
  font-size:10px;
}
//body{
//  font-size:12px;
//  font-size:1.2rem;
//}
body{
  background:#fbf9fe
}
.container{
  width:100%;
  //background-color:#fff;
  //height:100%;
}
.thread-section{
  padding:.5rem;
}
.thread-content{
  padding:.5rem;
}
.thread-list-item{
  padding:.5rem 0;
  //height:13.2rem;
  background-color:#fff;
  border-bottom:1px solid #e1e1e1
}
.thread-icon{
  width:4.8rem;
  height:4.8rem;
  float:left;
  border:1px solid red;
}
.thread-detail{
  margin-left:5rem;
  font-size:1.5rem;
  overflow: hidden;
  padding: .5rem ;
  padding-right:0;
}
.thread-time{
  float:right;
}
.thread-name{
  float:left;
}
.thread-last-message{
  //width:100%;
  margin-top:2.5rem;
  clear:both;
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.message-section{
  display:none;
}

//.arrow_left{
//  border:0;
//  width:0;
//  height:0;
//  border-right:1.6rem solid red;
//  border-top:.8rem solid transparent;
//  border-bottom:.8rem solid transparent;
//}
.arrow_left:before {
  position: absolute;
  content: " ";
  border: transparent 1rem solid;
  border-width: .85rem .6rem;
  border-right-color: #CCC;
  top: .1rem;
  left: -1.18rem;
  height: 0;
  width: 0;
}

.arrow_left {
  position: relative;
  width: 3rem;
  height: 1.8rem;
  background: #EEE;
  border-radius: .5rem;
  margin: .2rem .8rem;
  text-align: center;
  line-height: 1.8rem;
  color: #999;
  font-size: 1.4rem;
  border: .1rem solid #CCC;
}

.arrow_left:after {
  position: absolute;
  content: " ";
  border: transparent 1rem solid;
  border-width: .85rem .6rem;
  border-right-color: #EEE;
  top: .1rem;
  left: -1.06rem;
  height: 0;
  width: 0;
}